 
@{
    ViewData["Title"] = "User";
    Layout = "~/Views/Shared/_Admin.cshtml";
}
@using EntityLayer.Concrete
@model List<UserClient>
 
 




<table id="example" class="display" style="width:100%">
	 <thead>
	<tr>
			<th>Kullanıcı ID</th>
			<th>Kullanıcı Adı</th>
	 
	 
 
		<th>İŞLEMLER</th>
	 
		
	</tr>
	</thead>
	<tbody>
		
	@foreach (var a in Model){
		<tr>
			<td>@a.id</td>
			<td>@a.Name</td>
			 
		 
			
			<td>
@*				<a onclick="return confirm('Silmek istediğinize eminmisiniz?');" asp-controller="Admin" asp-action="Sil" asp-route-id="@a.UserId" class="btn btn-danger rounded-pill ">sil</a>
*@				 
				<a asp-controller="Admin" asp-action="Guncelle" asp-route-id="@a.id" class="btn btn-warning mt-2 rounded-pill">Görüntüle</a>
			</td>
			 
		</tr>
 
	}
	</tbody>
</table>
 <div class=" ">

        <a href="/Admin/Ekle" class="btn btn-primary">Kullanıcı Ekle</a> 
	 

    </div>


